<div style="color: white;padding-top:18px;text-align:center;background-color:#4775d1;border-radius:15px;border: 1px solid white;"> 
    <h3>IN THE NAME OF GOD</h3>
</div>

# Exercises 01

## Q1

In [6]:
# type , change type to float and int
num1 = 12.6
a1 = float(num1)
a2 = int(num1)
print(type(num1))
print(a1)
print(type(a1))
print(a2)
print(type(a2))

<class 'float'>
12.6
<class 'float'>
12
<class 'int'>

In [7]:
# type , change type to float and int
num2 = "050"
b1 = float(num2)
b2 = int(num2)
print(type(num2))
print(b1)
print(type(b1))
print(b2)
print(type(b2))

<class 'str'>
50.0
<class 'float'>
50
<class 'int'>

In [9]:
# type , change type to float and int
num3 = "20."
c1 = float(num3)
c2 = int(c1)   # cannot str "20." to int . It must first be converted to float and then to int .
print(type(num3))
print(c1)
print(type(c1))
print(c2)
print(type(c2))

<class 'str'>
20.0
<class 'float'>
20
<class 'int'>

In [3]:
# type , change type to float and int
student_num = "s98234"
sn = student_num   # variable summary

print(type(sn))

<class 'str'>

In [38]:
# could not convert str to (int & float) : 's98234'
d1 = float(sn)
d2 = int(sn)
print(d1)
print(type(d1))
print(d2)
print(type(d2))

NameError: name 'sn' is not defined

In [5]:
# type , change type to float and int
flag = True
print(type(flag))

<class 'bool'>

In [11]:
e1 = int(flag)
e2 = float(flag)
print(e1)
print(type(e1))
print(e2)
print(type(e2))  # oh yes!!! :) , I did not expect bool True to be converted to int and float

1
<class 'int'>
1.0
<class 'float'>

In [12]:
# type , change type to bool
num1 = -20
f1 = bool(num1)
print(type(num1))
print(f1)
print(type(f1))

<class 'int'>
True
<class 'bool'>

In [13]:
# type , change type to bool
num2 = 00
g1 = bool(num2)
print(type(num2))
print(g1)
print(type(g1))

<class 'int'>
False
<class 'bool'>

In [14]:
# type , change type to bool
flag = "False"
h1 = bool(flag)
print(type(flag))
print(h1)
print(type(h1))

<class 'str'>
True
<class 'bool'>

## Q2

In [18]:
# average
num1 = 20
num2 = 19.
num3 = "18.5"
num3 = float(num3)
ave = (num1 + num2 + num3) / 3
print(ave)

19.166666666666668

## Q3

In [20]:
# true , false
num1 = 20
num2 = 10
print(num1 > num2)
print(num1 < num2)

True
False

## Q4

In [36]:
# perimeter and area (rectangle)
num1 = float(input("Please enter the length : "))
num2 = float(input("Please enter the width : "))
print("area (rectangle) : ",num1 * num2)
print("perimeter (rectangle) : ",(num1 + num2) * 2)

Please enter the length : 12
Please enter the width : 13
area (rectangle) :  156.0
perimeter (rectangle) :  50.0

## Q5

In [18]:
# area of the colored part
R = float(input("please enter the Radius : "))
Square_area = ((R*2) ** 2)
s = Square_area  # variable summary
Circle_area = (3.14 * R **2)
c = Circle_area  # variable summary
print(s - c , " : مساحت قسمت رنگ شده")

please enter the Radius : 10
86.0  : مساحت قسمت رنگ شده

## Q6

In [20]:
num1 = num2 = num3 = 200  # True
print(num1 , num2 , num3) # All three values are of 200

200 200 200

In [21]:
num1 , num2 , num3 = 10, 20, 145  # True
print(num1 , num2 , num3)         # Values are entered linearly

10 20 145

In [25]:
num1 , num2 , num3 = 30, 100  #False
print(num1 , num2 , num3)     #num3 is not entered

ValueError: not enough values to unpack (expected 3, got 2)

In [33]:
# 2 Solution fix the error :
# 1 S : enter the 3 number in first line  # for example : 20
A = num1 , num2 , num3 = 30, 100, 20
# 2 S : delete the num3 in first and second line
B = num1 , num2 = 30, 100
print("#1 S : ",A)
print("#2 S : ",B)

#1 S :  (30, 100, 20)
#2 S :  (30, 100)

<div style="color: white;padding-top:18px;text-align:center;background-color:#4775d1;border-radius:15px;border: 1px solid white;"> 
    <h3>THE END</h3>
</div>